.table{
  width: 100%;
  padding-left: 20px;
  border: 4px solid black;
  border-radius: 30px;
  overflow-y: scroll;
  margin: 1% 0 1% 30%;
}
.table__wrapper{
  width: 100%;
  max-height: 100%;
}
.tr{
  display: flex;
  padding: 10px;
}
.td{
  display: flex;
  align-items: center;
  justify-content: center;
}
.td:nth-child(1){
  flex: 4;
}
.td:nth-child(2){
  flex: 1;
}
.td:nth-child(3){
  flex: 1;
}
@media screen and (max-width : 1550px){
  .table{
    margin: 1% 0 1% 40%;
  }
}
@media screen and (max-width: 1000px) {
  .table{
    margin: 20px 0;
  }
}
.message{
  color: red;
  opacity: 1;
  font-weight: 700;
  text-align: start;
  padding: 5px;
}